@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap');

h1,
h2,
p,
a,
button,
span,
div {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    background-color: #000;
}


/* header */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6)), url("../images/banner.png");
    border-bottom: 1px solid #33A8DB;
    text-align: center;
    padding: 50px 0 70px;

}

#banner-image {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 1rem;
}

#banner-title {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 2.93rem;
    letter-spacing: 0em;
    margin: 0 .5rem 1rem;
    text-align: center;
}

#banner-description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    max-width: 32.5rem;
    padding: 0 .5rem;
    margin: 0 auto 1rem;
}

button {
    width: 20.3rem;
    height: 3.5rem;
    background-color: transparent;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-repeat: repeat;
    border-image-slice: 20;
    color: #31A8DD;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    padding: 19px, 91px;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}


/* section course-content */

#course-content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: 1px solid #33A8DB;
    padding-bottom: 3rem;
}

#course-content-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    color: #33A8DB;
    text-transform: uppercase;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

#course-content-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    max-width: 840px;
    margin: 0 auto 2rem;
}

.module {
    width: 26rem;
    border-radius: 57px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    line-height: 1.5rem;
    padding: 1rem 8rem 1rem 8rem;
    margin: 0 auto 1rem;
    transition: .3s;
    cursor: pointer;
}

.module:hover {
    transform: scale(1.1);
}

span {
    color: #33A8DB;
}

/* section transform-world */

#transform-world {
    height: 363px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 1px solid #33A8DB;
}

#text-transform-world {
    width: 305px;
    font-size: 3.1rem;
    font-weight: bolder;
    padding: 110px 0px 0px 140px;
    text-transform: lowercase;
    line-height: 44px;
    text-shadow: 3px 3px #33A8DB;
    margin: 0rem;
}